<%=	 form_with model: @article, local: true do |form| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-container">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Title</span>
      </div>
      <%= form.text_field :title, class: "form-control", style: "width: 65.8rem;"%>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Text</span>

      </div>
      <%= form.text_area :text, class: "form-control text-area", :cols => 30, style: "width: 65.8rem;" %>
    </div>

    <div class="frotm-group">
      <%=	 form.label :all_categories %>
      <%=	 form.text_field :all_categories, class: 'form-control' %>
    </div>
  </div>
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
      <%= form.submit class: "btn btn-primary", type: "submit" %>
      <%=	 button_to   'back', articles_path, :method => :get,
                        class: "btn btn-dark", type: "button" %>
    </div>
  </div>
<%	 end %>