<h1> My Articles </h1>

<%	 @articles.each do |article| %>
  <section class="card" style="width: 69.4rem;">
    <div class="card-body">
      <h5 class="card-title"><%=	 article.title %></h5>
      <p  class="card-text"> <%=	 article.text  %></p>
      <table>
        <tr>
          <td><%=	 button_to 'show', article_path(article), :method => :get %></td>
          <td><%=	 button_to 'edit', edit_article_path(article), :method => :get %></td>
          <td><%=	 button_to 'delete', article_path(article), method: :delete, data: { confirm: 'What?' } %></td>
        </tr>
      </table>
    </div>
  </section>
<%	 end %>

<div class="d-flex justify-content-center">
  <%=	 link_to 'new',  new_article_path, class: "btn btn-primary btn-lg btn-block" %>
</div>