<p>
  <strong> <%=	 @article.title %> </strong>
</p>

<section>
  <p>
    <strong>
      <%=	 @article.text %>
    </strong>
  </p>
</section>

<h2>Comments</h2>

<%=	 render 'comments/comments' %>

<h2>Add a comment:</h2>
<%=	 render 'comments/form' %>
<table>
  <tr>
    <td><%=	 link_to 'articles', articles_path %></td>
    <td><%=  link_to 'edit', edit_article_path %></td>
  </tr>
</table>