<section>
  <p>
    <h2> <%=	 @article.title %> </h2>
  </p>
</section>

<section>
  <h5>
      <%=	 @article.text %>
  </h5>
</section>

<%=  button_to 'edit', edit_article_path,
                 method: :get, type: "button",
                 class: "btn btn-primary btn-lg btn-block"
%>
<%= button_to 'articles', articles_path,
              method: :get, type: "button",
              class: "btn btn-secondary btn-lg btn-block"
%>
<h2>Comments</h2>

<%=	 render 'comments/comments' %>

<h2>Add a comment:</h2>
<%=	 render 'comments/form' %>
