<!DOCTYPE html>
<html>
  <head>
    <title>Practic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%=	 render 'layouts/navbar' %>
  <div class="container">
    <main class="content">
      <%= yield %>
    </main>
  </div>

</html>
